doctype html
html
  head
    //- base(href='/')
    meta(lang='en')
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    <!--[if lt IE 9]>
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    <![endif]-->

    title= site.title
    link(rel='stylesheet' href='styles.css')
    link(rel='stylesheet' href='images/sprites.css')

  body
    block body
      .wrapper
        .segment.header
          .container
            nav.flex.center
              each x in site.orgs
                a.cell(href=x.url target='_blank')
                  img(src=x.img height=x.height || 50)
              .cell.md-show
                .flex
                  each x in site.sections
                    if x.menu === true
                      .item.cell
                        if x.embed
                          a.js-open(href=x.url data-is='embed')
                            = x.name
                        else
                          a(href=x.url target='_blank')
                            = x.name
                        if x.children
                          ul.sub-menu
                            each item in x.children
                              li
                                if item.embed
                                  a.js-open(href=item.url data-is='embed' title=item.title)= item.name
                                else
                                  a(href=item.url target='_blank' title=item.title)= item.name
              .cell.is-opened
                a.btn.js-close(href='#')
                  span.arrow-down.flip-y
              .cell.md-hide.is-closed
                a.btn.js-open(href='#' data-is='menu')
                  span.arrow-down

        block main

        .segment.blank
          .container.flex.center
            each x in site.logos
              .col-6
                .box
                  img.logo(src='images/' + x.img)

        .footer.center
          p Liga Periférico - Insurgentes Sur, Núm. 4903, Col. Parques del Pedregal, Delegación Tlalpan, 14010, Ciudad de México.

        .js-target
          .js-canvas.is-submenu
            ul.reset
              each x, k in site.sections
                li.item
                  if x.embed
                    a.js-open(href=x.url data-is='embed')= x.name
                  else
                    a(href=x.url target='_blank')= x.name

                  if x.description
                    label(for=`_${k}`) ℹ
                    input(type='checkbox' id=`_${k}`)
                    p= x.description

                  if x.children
                    ul.sub-list
                      each item in x.children
                        li
                          if item.embed
                            a.js-open(href=item.url data-is='embed' title=item.title)= item.name
                          else
                            a(href=item.url target='_blank' title=item.title)= item.name
          .js-canvas.is-iframe
            iframe(src='about:blank' frameborder=0)

  script(src='scripts.js')
