//-
  ---
  site: !include _data.yml
  ---

extends _layout

mixin siteSections
  .segment.padded.green
    .flex.container
      each x in site.sections
        .col-2
          .box.product
            .banner
              img(src='/images/' + x.img)
              h4.marg.caption.center= x.title
            p.marg.body
              if x.embed
                a.js-open(href=x.url data-is='embed')
                  = x.description
                  span Ver más
              else
                a(href=x.url target='_blank')
                  = x.description
                  span Abrir enlace

mixin siteIntro
  .segment.padded.blue
    #info.container
      h1.marg.subcolor Ésta es una #[span.highlight plataforma digital] para diseminar productos de información sobre #[span.highlight biodiversidad mexicana].
      .parr.marg
        p
          |Está alimentado de los datos de dos grandes sistemas operacionales.
          |#[a.secondary.link(href='https://madmex.conabio.gob.mx' target='_blank') MAD-Mex] (Monitoring Activity Data for the Mexican REDD+ program) un sistema de gestión y análisis automatizado
          |de datos satelitales y el Sistema Nacional de Monitoreo de Biodiversidad
          |(#[a.secondary.link(href='http://www.biodiversidad.gob.mx/sistema_monitoreo/' target='_blank') SNMB]) que genera datos
          |sistemáticos a gran escala sobre biodiversidad mediante metodologías manuales
          |y la colocación de sensores (fototrampas y grabadoras de sonido) en campo.

        p.hint
          |En esta plataforma podrás encontrar mapas de cobertura de suelo, cambio de
          |cobertura de suelo, diversidad estructural de los bosques y selvas mexicanas
          |así como estadísticas sobre su estado de conservación, vulnerabilidad y tendencias
          |en el tiempo.

        p.hint
          |También podrás encontrar un concentrado de avistamientos de especies
          |de animales georreferenciados e información biológica detallada de tales especies.

block main
  .content
    for x in site.cover
      if x.video
        .cover
          video(loop muted autoplay)
            source(src=`/assets/${x.video}.webm` type='video/webm')
            source(src=`/assets/${x.video}.mp4` type='video/mp4')
            source(src=`/assets/${x.video}.ogv` type='video/ogg')
      else
        .cover(style=`background-image:url(/images/${x})`)

  #menu

    .mouse-icon
      .wheel.drop

    +siteIntro
    +siteSections
